section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Container */
.login-container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  /* Login Title */
  .login-container h1 {
    font-size: 2rem;
   
    color: #333;
  }
  
  /* Form Inputs */
  .login-container .form-label {
    font-size: 1.2rem;
    color: #666;
  }
  
  .login-container .form-control {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Login Button */
  .login-container .btn-primary {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-container .btn-primary:hover {
    background-color: #0056b3; 
  }
  
  /* Sign Up Link */
  .login-container .btn-link {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .login-container .btn-link:hover {
    text-decoration: underline;
  }
  
  /* Responsive Styling for Mobile */
  @media (max-width: 768px) {
    .login-container {
      padding: 10px;
    }
  
    .login-container h1 {
      font-size: 1.5rem;
    }
  
    .login-container .form-label {
      font-size: 1rem;
    }
  
    .login-container .form-control {
      font-size: 0.9rem;
    }
  
    .login-container .btn-primary {
      padding: 10px 15px;
    }
  
    .login-container .btn-link {
      font-size: 0.9rem;
    }
  }
  