/* Navbar Container */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: 10px; 
}
  
  /* Navbar Brand Link */
  .navbar-brand {
    font-size: 28px; 
    font-weight: bold; 
    color: white; 
    text-decoration: none; 
  }
  
  /* Navbar Toggler Icon Color */
  .navbar-toggler-icon {
    background-color: white; 
  }
  
  /* Navbar Links */
  .nav-link {
    font-size: 18px;
    color: #fff;
    padding: 0.6rem 1rem; 
    transition: background-color 0.3s ease;
    border: none; 
    cursor: pointer; 
    text-transform: uppercase; 
  }
  
  /* Navbar Links Hover Effect */
  .nav-link:hover {
    background-color: white;
    border-radius: 5px; 
    color: black; 
    text-decoration: none;
  }
  
  /* Centered Navbar Items */
  .centered-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .compressible {
    padding: 0.4rem 0.8rem; /* Adjust padding for mobile */
    font-size: 16px; /* Adjust font size for mobile */
  }
  